{% extends "load_base.html" %}
<!DOCTYPE html>

{% block title %}Load Chain{% endblock %}

{% block content %}
    <h1> Chain Income </h1>
    <form action="/chain/" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="submit">
    </form>
{% endblock %}
