{% extends "load_base.html" %}

{% block title %}Load Return{% endblock %}

{% block content %}
    <h1> Load new Return </h1>
    <form action="/returns/" method="post" id="returns" novalidate>
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="submit">
    </form>
    <script>
    $(document).ready(function() {
        $('label[for="id_income_id"]').hide();$("#id_income_id").hide();
    });
    </script>
{% endblock %}